<ion-header>
  <ion-toolbar>
    <ion-title>
      Gestión de Personal Médico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido al Sistema de Gestión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Seleccione una opción para gestionar el personal médico:</p>
      
      <!-- Botones para ir a cada página -->
      <ion-button expand="full" (click)="goToMedico()">Médico</ion-button>
      <ion-button expand="full" color="warning" (click)="goToEnfermero()">Enfermero</ion-button>
      <ion-button expand="full" color="secondary" (click)="goToRecepcionista()">Recepcionista</ion-button>
      <ion-button expand="full" color="success" (click)="goToPaciente()">Paciente</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
