<ion-footer slot="fixed">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="2" class="ion-text-center">
          <ion-button fill="clear" routerLink="/home-admin">
            <img src="assets/icon/home-outline.svg" class="custom-icon" alt="Home" />
          </ion-button>
        </ion-col>
        <!-- Procdut icon -->
        <ion-col size="2" class="ion-text-center">
          <ion-button fill="clear" routerLink="/products_admin">
            <img src="assets/icon/bag-add-outline.svg" class="custom-icon" alt="Productos" />
          </ion-button>
        </ion-col>
        <!-- User icon -->
        <ion-col size="2" class="ion-text-center">
          <ion-button fill="clear" routerLink="/usuarios-admin">
            <img src="assets/icon/person-outline.svg" class="custom-icon" alt="Usuarios" />
          </ion-button>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-button fill="clear" routerLink="/profile-admin">
            <img src="assets/icon/person-circle-outline.svg" class="custom-icon" alt="Perfil" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>