<ion-footer slot="fixed">
  <ion-toolbar class="custom-toolbar">
    <ion-grid>
      <ion-row class="ion-justify-content-around">

        <!-- Home icon -->
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" routerLink="/mainmenu">
            <img src="assets/icon/home-outline.svg" class="custom-icon" alt="Home" />
          </ion-button>
        </ion-col>

        <!-- Cart icon -->
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" routerLink="/cart">
            <img src="assets/icon/cart-outline.svg" class="custom-icon" alt="Carrito" />
          </ion-button>
        </ion-col>

        <!-- Reservations icon -->
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" routerLink="/reservations">
            <img src="assets/icon/clipboard-outline.svg" class="custom-icon" alt="Reservas" />
          </ion-button>
        </ion-col>

        <!-- Profile icon -->
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" routerLink="/my-reservations">
            <img src="assets/icon/calendar-number-outline.svg" class="custom-icon" alt="Perfil" />
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
